.wrap-team-management {
  margin-top: 71px;
  margin-left: 150px;
  height: 100%;
  padding: 24px;
  height: calc(100% - 120px);
  // background-color: #7f848eb0;
  
  .wrap-button-action {
    .MuiButton-outlinedPrimary:hover {
      border: 1px solid #ffffff;
      background-color: rgba(63, 81, 181, 0.04);
    }
    .MuiButton-outlinedPrimary {
      color: #fdfdfd;
      border: 1px solid rgba(255, 255, 255, 0.5);
    }
    .MuiSelect-icon {
      color: white;
    }
    .MuiInput-underline:before {
      border-bottom: 1px solid white;
    }
  
    .MuiInput-underline:hover:not(.Mui-disabled):before {
      border-bottom: 2px  solid white;
    }
  }
  .filter-type {
    color: white;
    margin-left: 16px;
    border-radius: 3px;
    font-size: 16px;
  }
  .one-team {
    height: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    width: auto;
    background-color: white;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    min-height: 65px;
    border-bottom: 1px solid #19161654;
    padding-left: 16px;
    cursor: pointer;
    height: auto;
    font-weight: bold;
    > div {
      margin-right: 16px;
    }
    .team-name {
      padding: 8px 16px;
      margin-top: 0px;
      box-sizing: border-box;
      width: 20%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .select-team {
      width: 40px;
    }
    .team-description {
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .team-status {
      width: 15%;
    }
    .team-url {
      width: 20%;
      max-width: 30%;
      overflow: hidden;
      text-overflow: ellipsis;
      > a {
        width: 100%;
        color: black;
        text-decoration: none;
      }
    }
    .team-url > a:hover {
      text-decoration: underline;
    }
    .button-group {
      display: flex;
      width: 5%;
    }
  }

  .one-team-header.one-team {
    > div {
      font-size: 20px;
      font-weight: bold;
    }
    background-color: #242728c7;
    color: white;
    .check-box-header {
      font-size: 20px;
      font-weight: bold;
      margin-left: 8px;
    }
  }
  .pagination-wrap {
    background-color: #fdfdfd;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    align-items: center;
    .pagination {
      position: absolute;
      right: 24px;
    }
  }
  .MuiIconButton-root {
    padding: 8px;
  }
}
